.btn-emma {
  color: #fff;
  background-color: #0ab;
  border-color: #0ab;
}

.btn-emma:hover{
  color: #fff;
  background-color: #ada;
  border-color: #ada;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}